<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <left-bar></left-bar>
            </div>
            <div class="col-sm-9 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img width="268" height="249"
                                 ng-src="img/{{ seletedImage !=null ? seletedImage : seletedProduct.images[0] }}"
                                 alt="{{seletedProduct.Title}}"/>

                            <h3>ZOOM</h3>
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img ng-click="changeImage(img)" ng-repeat="img in seletedProduct.images"
                                         ng-if="$index >0" width="85" height="84" src="img/{{img}}" alt="">
                                </div>


                            </div>

                            <!-- Controls -->
                            <a class="left item-control" target="_self" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" target="_self" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information"><!--/product-information-->
                            <img src="images/product-details/new.jpg" class="newarrival" alt=""/>

                            <h2>{{seletedProduct.Title}}</h2>

                            <p>Web ID: {{seletedProduct.ID}}</p>
                            <img src="images/product-details/rating.png" alt=""/>
								<span>
									<span>US {{seletedProduct.Price}}</span>
									<label>Quantity:</label>
									<input type="text" value="3"/>
									<button type="button" class="btn btn-fefault cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </button>
								</span>

                            <p><b>Availability:</b> In {{seletedProduct.Stock}}</p>

                            <p><b>Condition:</b> New</p>

                            <p><b>Category:</b>{{seletedProduct.Categories}}</p>

                            <p><b>Category:</b>{{seletedProduct.SubCategory}}</p>
                            <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt=""/></a>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab"><!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li><a href="#details" data-toggle="tab">Details</a></li>
                            <li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
                            <li><a href="#tag" data-toggle="tab">Tag</a></li>
                            <li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="details">

                        </div>

                        <div class="tab-pane fade" id="companyprofile">

                        </div>

                        <div class="tab-pane fade" id="tag">

                        </div>

                        <div class="tab-pane fade active in" id="reviews">
                            <div class="col-sm-12">
                                <ul>
                                    <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                                    <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                                    <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure
                                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur.</p>

                                <p><b>Write Your Review</b></p>

                                <form action="#">
										<span>
											<input type="text" placeholder="Your Name"/>
											<input type="email" placeholder="Email Address"/>
										</span>
                                    <textarea name=""></textarea>
                                    <b>Rating: </b> <img src="images/product-details/rating.png" alt=""/>
                                    <button type="button" class="btn btn-default pull-right">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div><!--/category-tab-->

                <div class="recommended_items"><!--recommended_items-->
                    <h2 class="title text-center">Similar Items</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div ng-repeat="i in productList| filter:selectedinfoPro"
                                 ng-if="$index==0 || ($index %3==0 && $index>0)" class="item"
                                 ng-class="{'active':$index==0}">
                                <div ng-repeat="product in productList| filter:selectedinfoPro|range:$parent.$index">
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img width="268" height="249" ng-src="img/{{product.images[0]}}"
                                                         alt="{{product.Title}}"/>

                                                    <h2>{{product.Price | currency:'Tk '}}</h2>

                                                    <h3>{{product.Categories}}</h3>

                                                    <p>{{product.Title}}</p>
                                                    <button  ng-click="addProductIncart(product)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                </div>
                                                <div class="product-overlay">
                                                    <div class="overlay-content">
                                                        <h2>{{product.Price | currency:'Tk '}}</h2>

                                                        <p><a href="#/product/{{product.ID}}">{{product.Title}}</a>
                                                        </p>

                                                        <h3>{{product.SubCategory}}</h3>
                                                        <button  ng-click="addProductIncart(product)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left recommended-item-control" target="_self" href="#recommended-item-carousel"
                           data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" target="_self" href="#recommended-item-carousel"
                           data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>